<!doctype html>
<!-- https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-xi-facelift
    https://flask.palletsprojects.com/en/1.1.x/tutorial/templates/
     https://kanchanardj.medium.com/how-to-add-images-to-html-in-a-flask-app-4dbcc92e3aeb -->

<html>
    <head>
      <meta name="google-site-verification" content="Ym2g_wjKmQzY1_Ue5biBfau_x0QEDdN-bq4SZtyMS20" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-XQWZ1MDDN9"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-XQWZ1MDDN9');
      </script>

      <!-- moving from lighthouse page to base -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
      <!-- end of moving lighthouse to base -->

      {% if title %}
      <title>{{ title }} | julianaylward.co.uk | Flask Web App</title>
      {% else %}
      <title>julianaylward.co.uk</title>
      {% endif %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark", style="padding:20px 10px 20px 10px">
        <a class="navbar-brand", style="padding: 0px 10px 0px 10px" href="/">julianaylward.co.uk</a>
        <button class="navbar-toggler" 
            type="button" data-bs-toggle="collapse" 
            data-bs-target="#toggleMobileMenu" 
            aria-controls="toggleMobileMenu" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="toggleMobileMenu">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link fs-5 text-white" href="/">Home</a>
                </li>
                <!-- hide these nav items for now
                <li class="nav-item">
                    <a class="nav-link 3px text-white" href="hello-world">Hello World</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link 3px text-white" href="web-scraping">Web Scraping</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link 3px text-white" href="about">About</a>
                </li>
                -->
                <li class="nav-item">
                    <a class="nav-link fs-5 text-white" href="contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5 text-white" href="lighthouse">Lighthouse</a>
                </li>
            
        </ul>
        </div>
    </nav>


    <body>
        {% block content %}{% endblock %}
        
        <!-- moving from LH to base -->
        <script>callback();</script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>    
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <!-- end of moving from LH to base -->
    </body>

    <footer class="footer bg-dark", style="padding:20px 40px 20px 10px">
        <div class = "container-fluid">
            <div class="row">
                <div class= "col-md-1">
                    <a href="https://www.linkedin.com/in/julian-aylward-96465339/" class="text-decoration-none text-white"> LinkedIn</a>
                </div>
                <div class= "col-md-1">
                    <a href="https://gitlab.com/julianaylward"class="text-decoration-none text-white"> Gitlab</a>
                </div>
                <div class= "col-md-1">
                    <a href="/contact" class="text-decoration-none text-white"> Contact</a>
                </div>
            </div>
        </div>
    </footer>

</html>

