{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="contact-page">
        <div class="contact-text">
            <h1 style="padding: 20px 0px 20px 0px">Contact Me...</h1>
            <p class="fs-5">Drop me a message via <a href="https://www.linkedin.com/in/julian-aylward-96465339/">LinkedIn</a>
            <br> 
            Or, you can send me a message via the box below which pings a slack webhook, message away...</p>
        </div>
        <div class="contact-form">
            <form method="POST">
                <input name="text"  placeholder="write your message here..." id = "contact-text-box">
                <input type="submit" id = "contact-submit-button">
            </form>
        </div>
    </div>
</div>



{% endblock %}