{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class ="about_body">
        <h1>About this website...</h1>
            <br>
        <p class="fs-3"> Hi, I'm Julian Aylward (LinkedIn profile <a href="https://www.linkedin.com/in/julian-aylward-96465339/"> here</a>). </p>
         <p class="fs-5">   
             <br>
            I live in London and have 10 years experience in data and analytics. 
            <br> 
            <br>
            With not much going on in the world during Covid lockdowns, like many, I had time to take up something new. 
            I've spent the last couple of years developing my python skill in particular and wanted to share my journey and findings with others.
            <br>
            <br>
            While this was primarily aimed at using python for data analysis and to automate tasks or interact with AWS services, all of which are valauble in my day job,
            this lead me to picking up some Docker, and somehow on to building Flask applications, hence the website!
            <br> 
            <br>
            I aim to post introductions and how-to's, specifically aimed at other data and insight analysts interested in getting started with python.
            Python is deeply embedded within data engineering and data science, but over the last 2 years it has become completely indispensable to me in my role as an analyst.  
            <br>
            <br>
            I originally set this site up purely as a way of developing my python skills using flask, with a bit of docker, html and css thrown in for good measure. 
            As time progresses I hope to build out the content on this site to help other (analysts) develop their analaytical and technical skills.
            <br>
            <br>
            This site runs for free on <a href="https://www.heroku.com/">Heroku</a> and the domain is registered for a nominal fee with <a href="https://www.namecheap.com/"> Namecheap</a>, 
            making this approach both easy to deploy and (virtually) free to run. See the <a href='https://gitlab.com/julianaylward/flask-docker-web-app'>  gitlab repo</a> here if you are interested!
        </p>
        <br>
        <br>
    <!-- <body> Some sample text here with a jinja variable: {{title}} which at present is totally useless</bodies> -->
        <img src="{{url_for('static', filename='julian_aylward_data_analyst.jpeg')}}" class="img-fluid" alt="Julian Aylward Data Analyst Python Flask"/>
    </div>
</div>
{% endblock %}
