<!-- adapted from https://github.com/alanjones2/Flask-Plotly/blob/main/fin/templates/index3.html-->


{% extends "base.html" %}

{% block content %}

<head>

    <title>Google Lighthouse Metrics</title>
<!-- TODO make layout variables responsive. https://plotly.com/javascript/responsive-fluid-layout/-->
    <script>
        async function callback() {
            let Stock = document.getElementById('stock').value;
            let Period = document.getElementById('period').value;
            let Interval = document.getElementById('interval').value;
            //alert(Stock+Period+Interval);
            //return;
            let response = await fetch("/callback/getStock?data=" + Stock + "&period=" + Period + "&interval=" + Interval);
            if (response.ok) {
                let chartJson = await response.json();
                if (response.ok) {
                    response = await fetch("/callback/getInfo?data=" + Stock);
                    let infoJson = await response.json();
                    info(infoJson);
                    var config = {responsive: true}
                    Plotly.newPlot('chart', chartJson, {}, config);
                } else {
                    alert("HTTP-Error: " + response.status + "on getInfo");
                }
            } else {
                alert("HTTP-Error: " + response.status + "on getMetric");
            }
        }
        function info(json) {
            let name = document.getElementById('companyName');
            name.innerHTML = json.shortName;
            name = document.getElementById('metric');
            name.innerHTML = json.metric;
            name = document.getElementById('best');
            name.innerHTML = json.best;
            name = document.getElementById('worst');
            name.innerHTML = json.worst;
            name = document.getElementById('mean');
            name.innerHTML = json.mean;
        }
    </script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-light bg-secondary" style="margin:20px 0px 0px 0px">
                <h1 style="padding:20px 0px 20px 0px">Google Lighthouse Performance Metrics</h1>
            </div>

        </div>
        <div class="row">
            <div class="col bg-light" style="margin:0px 0px 20px 0px"> 
                <h5 style="padding:10px 0px 10px 0px">Page speed has always been an import factor for user experience, especially on mobile, 
                    however the recent rollout of Google's <a href="https://developers.google.com/search/blog/2020/05/evaluating-page-experience">Core Web Vitals</a>
                    mean that from an SEO perspective, your organic search rankings will be affected by the speed of your site. See how top sites stack up on key performance metrics using data from Google's 
                    <a href="https://developers.google.com/web/tools/lighthouse#devtools">Lighthouse</a>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md text-end"><b>Select Lighthouse Metric</b></div>
            <div class="col-md">
                <select id="stock" class="form-select" aria-label="Select" )>
                    <!-- value = metric value we want, name it whatever we want-->
                    <option selected value="firstcontentfulpaint">First Contentful Paint</option> 
                    <option value="largestcontentfulpaint">Largest Contentful Paint</option>
                    <option value="cumulativelayoutshift">Cumulative Layout Shift</option>
                    <option value="interactive">Interactive</option>
                    <option value="maxpotentialfid">Max Potential FID</option>
                    <option value="totalblockingtime">Total Blocking Time</option>
                </select>
            </div>
            
            <div class="col-md text-end text-end"><b>Select Chart Type</b></div>

            <div class="col-md">
                <select id="period" class="form-select" aria-label="Select" )>
                    <option selected value="time_series">Time Series</option>
                    <option value="bar_chart">Bar Chart</option>
                </select>
            </div>
            <div class="col-md text-end"><b>Competitor Set</b></div>

            <div class="col-md">
                <select id="interval" class="form-select" aria-label="Select" )>
                    <option selected value="1m">UK Retailers</option>
                    <option value="2m">Request Additional</option>
                    <option value="3m">Coming Soon</option>

                </select>
            </div>
            <div class="col-md">
                <button type="button" class="btn btn-primary" onclick="callback()">Update Chart</button>
            </div>
            <div class="w-100" style="padding:20px;text-align:right;font-size: small;"><i>Double tap legend icons below to filter</i></div>

            <div class="col-md-2"><p><b>Key Stats</b></p>
                <p>Metric: <span id="metric">N/A</span></p>
                <p>Best Site Average: <span id="best">N/A</span></p>
                <p>Worst Site Average: <span id="worst">N/A</span></p>
                <p>All Sites Average: <span id="mean">N/A</span></p>

                
            </div>
            <div class="col-md-10">
                <h2 id="companyName"></h2>
                <div id="chart" class="chart" style="height: 45rem;"> 
                </div>
            </div>  
           
        </div>

    </div>


    <script>callback();</script>

</body>

{% endblock %}
