{% extends "base.html" %}

{% block content %}
    <head>
        <title> Welcome to this Flask Demo App!</title>
        <meta charset="utf-8" />
        <br>
    </head>
    h1>Hello {{name}}, put some useful page title here please..!</h1>
    <h2>These are static png images from matplotlib for now.....</h2>
    <br><br>
    <body> You might even like it... 
        <br>
        <div class ="chart_body", align="middle">
            <body> Some sample text here and a jinja variable: {{img_name}}</body>
            <img src="{{url_for('static', filename='chart_1.png')}}" align="middle"/>
            <img src="{{url_for('static', filename='chart_2.png')}}" align="middle"/>
        </div>
    </body>
{% endblock %}

