/* https://pythonhow.com/add-css-to-flask-website/ */
/* ****** NOTE, you might need to hard refresh your page for new CSS for take effect CTRL + SHIFT + R */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }


  .chart_body{
    /*background-color: #76ebe5; */
    overflow: hidden;
    font-size: 14px;
  }

  .about_body{
    /*background-color: #76ebe5; */
    color: black;
    margin: 30px;
    padding: 15px;
    line-height: 1.5;
    overflow: hidden;
    font-size: 15px;
    text-align: left;
  }
 
.contact-text h1{
  margin-bottom: 2rem;
}



/*target contact form elements by ID with a # */ 
#contact-text-box {
  width: 250px;
  height: 40px;
  outline: none;
  border: 1px solid black;
  border-radius: 4px; 
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#contact-text-box::placeholder{
  color: #b1b1b1;
}

#contact-submit-buttom{
  width: 200px;
  height: 40px;
  border-radius: 2px;
  background-color: orange;
  color: white;
  font-size: 1rem;
}

#contact-submit-button:hover{
  cursor:pointer;
  color: #337AF1;
  transition: 0.3s ease-out; 
}
